.shc-hidden-notice {
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow-y: auto;
	padding: 10dvh 0px;
	margin: 0px auto;
	width: 100%;
}

.shc-hidden-notice > div[class^="divider"] {
	display: none;
}

.shc-hidden-notice > div[class^="topic"] {
	background-color: var(--background-secondary);
	padding: 5px;
	max-width: 50dvh;
	text-overflow: ellipsis;
	border-radius: 8px;
	margin: 12px auto 0 auto;
	overflow: visible;
}

.shc-rolePill {
	background-color: var(--background-primary);
	padding: 12px;
	margin: 4px 0;
}
